html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font: bold 26px 'Dosis', sans-serif;
}
#controlPanel {
  height: 100%;
  padding: 0;
  background-color: burlywood;
  margin: 0;
  text-align: right;
  float: left;
  position: relative;
  
  overflow-y:auto;
  overflow-x:hidden;
  /*resize: horizontal;*/ /* not supported by  IE/Edge--replace by JS maybe */
  width: 350px;
  font: 14px 'Dosis', sans-serif;
  /*max-width: 50%;*/
  /*
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  z-index: 1;
  */
}
#controlPanelContent {
  padding: 0 15px;
  z-index:5;
}
#panelbg {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.closePanel {
  margin: 5px;
  border: none;
  color: white;
  background-color: burlywood;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  padding: 0;
}
.closePanel:hover {
  background-color: #d9ad73;
  cursor: pointer;
}
.openPanel {
  margin: 15px 0;
  border: none;
  color: white;
  background-color: burlywood;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  padding: 0;
  z-index: 5;
}
.openPanel:hover {
  cursor: pointer;
}
#submitbutton {
  background-color: #5e4e39;
  border: none;
  color: #fff;
  margin: 3px;
  padding: .3em;
}
#submitbutton:hover {
  background-color: #b5966e; 
}


/* Map stuff styles */
#map {
  height: 100%;
}
.mapButton {
  position: absolute;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 3px #999;
  border-radius: 3px;
  border: none;
  font-size: 8pt;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.mapButton:hover {
  background-color: #eee;
  cursor: pointer;
}


/* Results styles */
#result {
  margin: 20px;
  z-index:10;
  position: relative;
}
#result article{
  text-align:left;
  border: 3px solid white;
  margin-bottom: 15px;
  padding: 15px;
  z-index: 100;
  background-color: rgba(222,184,135,.8);
}
#result article:hover {
  background-color: rgba(217, 173, 115,.8);
}
.petImg {
  float: right;
}

/* READ MORE BUTTON STUFF */
.show-more-link a {
  font-size: 8pt;
  color: #c83737;
  width: auto;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.show-more-link a:hover {
  text-shadow: 1px 0 #888;
  cursor: pointer;
}
.show-more-link a:active {
  color: #782121;
}
.hideContent {
  display: none;
}


/* Scrollbar style */
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: #b5966e;
} 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
}
::-webkit-scrollbar-button {
      background-color: #5e4e39;
}
::-webkit-scrollbar-corner {
      background-color: burlywood;
}